@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.left .left-sidebar .calendar_container {
  padding: 10px;
}

.left .left-sidebar .calendar_container .calendar_title {
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: #2d3436;
  cursor: default;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.left .left-sidebar .calendar_container .calendar_title span {
  position: relative;
  top: -2px;
  color: #dfe6e9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 26px;
  transition: all 0.3s;
}

.left .left-sidebar .calendar_container .calendar_title span:hover {
  color: #0984e3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.left .left-sidebar .calendar_container .calendar_title #prev {
  float: left;
}

.left .left-sidebar .calendar_container .calendar_title #next {
  float: right;
}

.left .left-sidebar .calendar_container #calendar {
  table-layout: fixed;
  margin: 0;
}

.left .left-sidebar .calendar_container #calendar tbody tr:nth-child(odd) {
  background-color: #dfe6e9;
}

.left .left-sidebar .calendar_container #calendar tbody #header th {
  text-align: center;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border: none;
}

.left .left-sidebar .calendar_container #calendar tbody .weeks td {
  text-align: center;
  border: none;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.left .left-sidebar .calendar_container #calendar tbody .weeks td .today {
  background-color: #0984e3;
  color: #dfe6e9;
  border-radius: 3px;
}

.left .left-sidebar .calendar_container #calendar tbody .weeks td a {
  display: block;
  text-decoration: none;
  color: #2d3436;
  padding: 10px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.left .left-sidebar .calendar_container #calendar tbody .weeks td a:hover {
  background-color: #0984e3;
  color: #dfe6e9;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main {
  padding: 0;
}

.main .sections {
  display: block;
  width: 100%;
  background-color: #f0f0f0;
  margin: 5px 0px;
}

.main .sections ul {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 0;
}

.main .sections ul li {
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.main .sections ul li a {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  margin: 2px;
  font-size: 18px;
  color: #2d3436;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .sections ul li a:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #0984e3;
}

.main .sections ul li .active {
  color: #0984e3;
  font-weight: bold;
}

.main .sections ul li span {
  font-size: 18px;
}

.main .lectures {
  position: relative;
  width: 95%;
  margin: 0 auto;
  padding: 5px;
}

.main .lectures .lecture {
  display: block;
  background-color: #FFF;
  margin: 7px;
  -webkit-box-shadow: 0px 0px 3px 1px #ccc;
          box-shadow: 0px 0px 3px 1px #ccc;
  border-radius: 3px;
  padding: 3px;
}

.main .lectures .lecture h3 {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #2d3436;
  border-bottom: 2px solid #2d3436;
}

.main .lectures .lecture .lecture_description {
  display: inline-block;
  width: 95%;
  left: 2.5%;
  padding: 5px;
}

.main .lectures .lecture .lecture_description p {
  text-indent: 10px;
  text-align: left;
  font-size: 16px;
}

.main .lectures .lecture .lecture_description .edit {
  position: relative;
  display: block;
  width: 30%;
  margin: 0;
  float: right;
  font-family: "Open Sans", sans-serif;
  color: #FFF !important;
  background-color: #0984e3;
  font-size: 16px;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  border: none;
  opacity: 0.9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .lectures .lecture .lecture_description .edit:hover {
  background-color: #006abc;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .lectures .lecture .lecture_description .edit:active {
  outline: none;
  border: none;
}

.main .lectures .lecture .lecture_description .edit:focus {
  outline: none;
  border: none;
}

.main .lectures .lecture .lecture_description span {
  display: block;
  text-align: right;
  font-size: 20px;
  color: #2d3436;
  font-family: "Open Sans", sans-serif;
}

.main .lectures .lecture .lecture_attendance {
  width: 95%;
  margin: 0 auto;
  padding: 0;
}

.main .lectures .lecture .lecture_attendance p {
  font-family: "Open Sans", sans-serif;
  margin: 5px;
  font-size: 16px;
  text-align: center;
}

.main .lectures .lecture .lecture_attendance h4 {
  display: block;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .lectures .lecture .lecture_attendance h4:hover {
  background-color: #2d3436;
  color: #FFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .lectures .lecture .lecture_attendance h4 span {
  top: -5px;
  float: right;
  font-size: 30px;
}

.main .lectures .lecture .lecture_attendance .attendance {
  position: relative;
  display: none;
  width: 100%;
  top: -1px;
  background-color: #2d3436;
  padding-bottom: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.main .lectures .lecture .lecture_attendance .attendance .table thead tr th {
  text-align: center;
}

.main .lectures .lecture .lecture_attendance .attendance .table tr {
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
}

.main .lectures .lecture .lecture_attendance .active {
  background-color: #2d3436;
  color: #FFF;
}

.main .lectures p {
  font-family: "Open Sans", sans-serif;
  color: #2d3436;
  text-align: left;
  font-size: 16px;
}

.main .add {
  position: relative;
  display: block;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: #FFF !important;
  background-color: #0984e3;
  font-size: 16px;
  border: none;
  opacity: 0.9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .add:hover {
  background-color: #006abc;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .add:active {
  outline: none;
  border: none;
}

.main .add:focus {
  outline: none;
  border: none;
}

.main .pages {
  background-color: #f0f0f0;
  margin: 5px 0;
  margin-top: 10px;
}

.main .pages .pagination {
  margin: 0;
  background-color: #f0f0f0;
}

.main .pages .pagination li {
  background: none;
}

.main .pages .pagination li a {
  background: none;
  border: none;
  color: #2d3436;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .pages .pagination li a:hover {
  background-color: #0984e3;
  color: #FFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .pages .pagination .active span {
  border: none;
  background-color: #0984e3;
}

.main .pages .pagination .disabled span {
  background: none;
  color: #333;
  border: none;
}

.main .students {
  display: inline-block;
  width: 100%;
}

.main .students .student {
  display: block;
  width: 24%;
  margin: 0.5%;
  padding: 5px;
  float: left;
  -webkit-box-shadow: 0px 0px 2px 0px #CCC;
          box-shadow: 0px 0px 2px 0px #CCC;
}

.main .students .student img {
  display: block;
  width: 100%;
  border-radius: 2px;
}

.main .students .student ul {
  display: block;
  margin: 0;
  padding: 0;
}

.main .students .student ul li {
  display: block;
  margin: 5px 0px;
  padding: 2px;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  border-bottom: 1px solid #CCC;
}

.main .students .student ul li span {
  display: block;
  font-family: "Open Sans", sans-serif;
}

.main .students .student .visit_profile {
  position: relative;
  display: block;
  width: 50%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: #FFF !important;
  background-color: #0984e3;
  font-size: 16px;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  border: none;
  opacity: 0.9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .students .student .visit_profile:hover {
  background-color: #006abc;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .students .student .visit_profile:active {
  outline: none;
  border: none;
}

.main .students .student .visit_profile:focus {
  outline: none;
  border: none;
}

.main .student {
  position: relative;
  top: 50px;
}

.main .student .student_image {
  display: block;
  width: 40%;
  margin: 0px auto;
}

.main .student .student_image img {
  width: 100%;
}

.main .student .student_info {
  width: 60%;
  padding: 5px;
  margin: 0 auto;
}

.main .student .student_info ul {
  margin: 0;
  padding: 0;
}

.main .student .student_info ul li {
  display: block;
  margin: 10px 0px;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  border-bottom: 2px solid #CCC;
}

.main .student .student_info ul li span {
  margin-left: 5px;
  font-family: "Open Sans", sans-serif;
  float: right;
  font-weight: bold;
}

.main h2 {
  font-family: "Open Sans", sans-serif;
  color: #2d3436;
  border-bottom: 2px solid #CCC;
  text-align: center;
  padding: 10px;
}

.main p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 16px;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 5px;
}

.modal .modal-dialog .modal-content .modal-body .my-form .form-group {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #c8d6e5;
}

.modal .modal-dialog .modal-content .modal-body .my-form .form-group label {
  display: block;
  width: 30%;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  margin-top: 2px;
}

.modal .modal-dialog .modal-content .modal-body .my-form .form-group input {
  display: block;
  width: 50%;
  float: left;
  padding: 2px;
  padding-left: 5px;
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #2d3436;
  height: 30px;
}

.modal .modal-dialog .modal-content .modal-body .my-form .form-group input:focus {
  border-color: #12adce;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.075) inset, 0 0 4px #12adce;
          box-shadow: 0 1px 0px rgba(0, 0, 0, 0.075) inset, 0 0 4px #12adce;
  outline: 0 none;
}

.modal .modal-dialog .modal-content .modal-body .my-form .form-group .required {
  position: relative;
  top: -6px;
  margin-left: 3px;
  font-size: 10px;
  color: #ee5253;
}

.modal .modal-dialog .modal-content .modal-body .my-form .form-group .required span {
  font-size: 14px;
  margin-left: 5px;
}

.modal .modal-dialog .modal-content .modal-body .my-form .form-group .optional {
  position: relative;
  top: -6px;
  margin-left: 3px;
  font-size: 10px;
  color: #0984e3;
}

.modal .modal-dialog .modal-content .modal-body .my-form .form-group .optional span {
  font-size: 14px;
  margin-left: 5px;
}

.modal .modal-dialog .modal-content .modal-body .my-form .form-group #description {
  display: block;
  width: 50%;
  height: 80px;
  float: left;
  border: 1px solid #ccc;
  color: #2d3436;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 5px;
  resize: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.modal .modal-dialog .modal-content .modal-body .my-form .form-group #description:focus {
  border-color: #12adce;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.075) inset, 0 0 4px #12adce;
          box-shadow: 0 1px 0px rgba(0, 0, 0, 0.075) inset, 0 0 4px #12adce;
  outline: 0 none;
}

.modal .modal-dialog .modal-content .modal-body .my-form .form-group #description::-webkit-input-placeholder {
  color: #999;
}

.modal .modal-dialog .modal-content .modal-body .my-form .form-group #description:-ms-input-placeholder {
  color: #999;
}

.modal .modal-dialog .modal-content .modal-body .my-form .form-group #description::-ms-input-placeholder {
  color: #999;
}

.modal .modal-dialog .modal-content .modal-body .my-form .form-group #description::placeholder {
  color: #999;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students {
  display: inline-block;
  width: 100%;
  padding: 10px;
  padding-bottom: 5px;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students label {
  display: block;
  width: auto;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  margin-top: 2px;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .required {
  position: relative;
  top: -6px;
  margin-left: 3px;
  font-size: 10px;
  color: #ee5253;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .required span {
  font-size: 14px;
  margin-left: 5px;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .optional {
  position: relative;
  top: -6px;
  margin-left: 3px;
  font-size: 10px;
  color: #0984e3;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .optional span {
  font-size: 14px;
  margin-left: 5px;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance {
  display: inline-block;
  width: 100%;
  padding: 5px;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit {
  position: relative;
  display: block;
  height: auto;
  min-height: 50px;
  padding-bottom: 40px;
  margin: 0 0.5%;
  width: 49%;
  float: left;
  -webkit-box-shadow: 0px 0px 2px 0px #999;
          box-shadow: 0px 0px 2px 0px #999;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid #c8d6e5;
  color: #2d3436;
  text-align: center;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit .student {
  display: block;
  width: 95%;
  margin: 3px auto;
  background-color: #dfe6e9;
  border-radius: 3px;
  padding: 8px;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit .student:hover {
  opacity: 1;
  background-color: #2d3436;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit .student:hover h4 {
  color: #FFF;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit .student h4 {
  color: #FFF;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit .student h4 span {
  position: relative;
  top: -5px;
  float: right;
  font-size: 30px;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit .student .details {
  position: relative;
  display: none;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 2px;
  padding: 0;
  background-color: #FFF;
  padding: 5px 0px;
  border-radius: 3px;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit .student .details .image {
  display: block;
  width: 100px;
  margin: 0px auto;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit .student .details .image img {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 3px;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit .student .details ul {
  position: relative;
  display: block;
  width: 95%;
  margin: 0 auto;
  margin-top: 3px;
  padding: 0;
  border-top: 2px solid #CCC;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit .student .details ul li {
  margin: 2px 0px;
  padding: 0;
  font-size: 15px;
  text-indent: 5px;
  font-family: "Open Sans", sans-serif;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit .student .details a {
  position: relative;
  width: 50%;
  display: block;
  margin: 5px auto;
  font-family: "Open Sans", sans-serif;
  background-color: #0984e3;
  color: #FFF;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 2px 0px #333;
          box-shadow: 0px 0px 2px 0px #333;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.9;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit .student .details a:hover {
  opacity: 1;
  background-color: #006abc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit .student .details a:active {
  outline: none;
  border: none;
  background-color: #006abc;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit .student .details a:focus {
  outline: none;
  border: none;
  color: #FFF;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit .active {
  opacity: 1;
  background-color: #2d3436;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .attendance .visit .active h4 {
  color: #FFF;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .student_image {
  display: block;
  width: 40%;
  margin: 5px auto;
  min-height: 200px;
  border: 2px dashed #999;
  border-radius: 5px;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students .student_image img {
  display: none;
  width: 98%;
  margin: 1%;
  height: auto;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students #upload_image {
  display: block;
  width: 100%;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students #upload_image p {
  display: block;
  width: 40%;
  margin: 0px auto;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  background-color: #0984e3;
  color: #FFF;
  font-size: 16px;
  border: none;
  text-align: center;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.9;
  float: none;
  cursor: pointer;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students #upload_image p:hover {
  opacity: 1;
  background-color: #006abc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students #upload_image span {
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #2d3436;
  margin: 10px 0;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students #upload_image .choose {
  font-size: 18px;
  font-weight: bold;
}

.modal .modal-dialog .modal-content .modal-body .my-form .students #file_upload {
  display: none;
}

.modal .modal-dialog .modal-content .modal-footer .my-btn {
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: #FFF;
  color: #2d3436;
  font-size: 16px;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.9;
}

.modal .modal-dialog .modal-content .modal-footer .my-btn:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal .modal-dialog .modal-content .modal-footer .my-btn:active {
  outline: none;
  border: none;
}

.modal .modal-dialog .modal-content .modal-footer .my-btn:focus {
  outline: none;
  border: none;
}

.modal .modal-dialog .modal-content .modal-footer .modal_close {
  color: #FFF;
  background-color: #ee5253;
  float: left;
}

.modal .modal-dialog .modal-content .modal-footer .modal_close:hover {
  background-color: #ef2d2e;
}

.modal .modal-dialog .modal-content .modal-footer .add {
  color: #FFF;
  background-color: #0984e3;
  float: right;
}

.modal .modal-dialog .modal-content .modal-footer .add:hover {
  background-color: #006abc;
}

.modal .modal-dialog .modal-content .modal-footer .notification {
  position: relative;
  top: 5px;
  display: none;
  clear: both;
  width: 60%;
  margin: 0 auto;
  font-size: 14px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 2px 0px #000;
          box-shadow: 0px 0px 2px 0px #000;
  border: none;
  color: #000;
  font-family: "Open Sans", sans-serif;
}

.modal .modal-dialog .modal-content .modal-footer .notification .close {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 2px;
  font-size: 20px;
  color: #c60000;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal .modal-dialog .modal-content .modal-footer .notification .close:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal .modal-dialog .modal-content .modal-footer .notification ul {
  margin: 0;
  padding: 3px;
}

.modal .modal-dialog .modal-content .modal-footer .notification ul li {
  margin: 0;
  padding: 0;
  text-align: left;
}

.right {
  background-color: #FFF;
  padding-bottom: 15px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  z-index: 9998;
}

.right .student_list {
  display: block;
  width: 99%;
  min-height: 50px;
  height: auto;
  margin: 0 auto;
  padding: 3px 0;
  margin-top: 15px;
  background-color: #FFF;
  border-radius: 3px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.right .student_list h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.right .student_list .student {
  display: block;
  width: 90%;
  margin: 3px auto;
  background-color: #dfe6e9;
  border-radius: 3px;
  padding: 8px;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.right .student_list .student:hover {
  opacity: 1 !important;
  background-color: #2d3436 !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.right .student_list .student:hover h4 {
  color: #FFF;
}

.right .student_list .student h4 {
  color: #2d3436;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.right .student_list .student h4 span {
  position: relative;
  top: -5px;
  float: right;
  font-size: 30px;
}

.right .student_list .student .details {
  position: relative;
  display: none;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 2px;
  padding: 0;
  background-color: #FFF;
  padding: 5px 0px;
  border-radius: 3px;
}

.right .student_list .student .details .image {
  display: block;
  width: 100px;
  margin: 0px auto;
}

.right .student_list .student .details .image img {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 3px;
}

.right .student_list .student .details ul {
  position: relative;
  display: block;
  width: 95%;
  margin: 0 auto;
  margin-top: 3px;
  padding: 0;
  border-top: 2px solid #CCC;
}

.right .student_list .student .details ul li {
  margin: 2px 0px;
  padding: 0;
  font-size: 15px;
  text-indent: 5px;
  font-family: "Open Sans", sans-serif;
}

.right .student_list .student .details a {
  position: relative;
  width: 50%;
  display: block;
  margin: 5px auto;
  font-family: "Open Sans", sans-serif;
  background-color: #0984e3;
  color: #FFF;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 2px 0px #333;
          box-shadow: 0px 0px 2px 0px #333;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.9;
}

.right .student_list .student .details a:hover {
  opacity: 1;
  background-color: #006abc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.right .student_list .student .details a:active {
  outline: none;
  border: none;
  background-color: #006abc;
}

.right .student_list .student .details a:focus {
  outline: none;
  border: none;
  color: #FFF;
}

.right .student_list .active {
  opacity: 1 !important;
  background-color: #2d3436 !important;
}

.right .student_list .active h4 {
  color: #FFF;
}

.right .student_list p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #2d3436;
  font-size: 14px;
}

.right .add_student {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  background-color: #0984e3;
  color: #FFF;
  font-size: 16px;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.9;
}

.right .add_student:hover {
  opacity: 1;
  background-color: #006abc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.right .add_student:active {
  outline: none;
  border: none;
  background-color: #006abc;
}

.right .add_student:focus {
  outline: none;
  border: none;
  color: #FFF;
}

.navbar {
  display: block;
  width: 80%;
  margin: 0px auto;
  border-radius: 0px;
  padding: 0;
}

.navbar ul {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #CCC;
}

.navbar ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  display: block;
  margin: 4px;
  margin-bottom: 0;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #2d3436;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar ul li a:hover {
  background-color: #0984e3;
  color: #FFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar ul li .active {
  background-color: #0984e3;
  color: #FFF;
}
/*# sourceMappingURL=style.css.map */