@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$primary:'Open Sans', sans-serif;

.left{
    .left-sidebar{
        .calendar_container{
            padding:10px;
            .calendar_title{
                display: block;
                text-align: center;
                font-size: 24px;
                font-family: $primary;
                color: #2d3436;
                cursor: default;
                margin: 0;
                padding: 0;
                margin-bottom: 10px;
                span{
                    position: relative;
                    top:-2px;
                    color: #dfe6e9;
                    transition: all 0.3s;
                    cursor: pointer;
                    font-size: 26px;
                    transition: all 0.3s;
                    &:hover{
                        color: #0984e3;
                        transition: all 0.3s;
                    }
                }
                #prev{
                    float: left;
                }
                #next{
                    float: right;
                }
            }
            #calendar{
                table-layout: fixed;
                margin: 0;
                tbody{
                    tr:nth-child(odd){
                        background-color: #dfe6e9;
                    }
                    #header{ 
                        th{
                            text-align: center;
                            font-weight: 600;
                            font-family: $primary;
                            font-size: 16px;
                            border: none;
                        }
                    }
                    .weeks{
                        td{
                            text-align: center;
                            border: none;
                            font-family: $primary;
                            margin:0;
                            padding: 0;
                            .today{
                                background-color: #0984e3;
                                color: #dfe6e9;
                                border-radius: 3px;
                            }
                            a{
                                display: block;
                                text-decoration: none;
                                color: #2d3436;
                                padding: 10px 0;
                                transition: all 0.3s;
                                &:hover{
                                    background-color: #0984e3;
                                    color: #dfe6e9;
                                    border-radius: 3px;
                                    transition: all 0.3s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.main{
    .visit_title{
        font-family: $primary;
        color: #2d3436;
        text-align: center;
    }
    .lectures{
        p{
            font-family: $primary;
            color: #2d3436;
            text-align: left;
            font-size: 16px;
        }
    }
    .add{
        position: relative;
        display: block;
        margin: 0 auto;
        font-family: $primary;
        color: #FFF !important;
        background-color: #0984e3;
        font-size: 16px;
        border: none;
        opacity: 0.9;
        transition: all 0.3s;
        &:hover{
            background-color: #006abc;
            opacity: 1;
            transition: all 0.3s;
        }
        &:active{
            outline: none;
            border: none;
        }
        &:focus{
            outline: none;
            border: none;
        }
    }
}
.modal{
    .modal-dialog{
        .modal-content{
            .modal-body{
                padding: 5px;
                .lecture_form{
                    .form-group{
                        display: inline-block;
                        width: 100%;
                        margin: 0;
                        padding: 10px;
                        margin-top: 10px;
                        border-bottom: 1px solid #c8d6e5;
                        label{
                            display: block;
                            width: 30%;
                            float: left;
                            font-family: $primary;
                            font-weight: normal;
                            font-size: 16px;
                            margin: 0;
                            margin-top: 2px;
                        }
                        input{
                            display: block;
                            width: 50%;
                            float: left;
                            padding:2px;
                            padding-left: 5px;
                            margin: 0;
                            font-size: 14px;
                            font-family: $primary;
                            color: #2d3436;
                            height: 30px;
                            &:focus{
                                border-color: #12adce;
                                box-shadow: 0 1px 0px rgba(0, 0, 0, 0.075) inset, 0 0 4px #12adce;
                                outline: 0 none;
                            }
                        }
                        .required{
                            position: relative;
                            top: -6px;
                            margin-left: 3px;
                            font-size: 10px;
                            color: #ee5253;
                            span{
                                font-size: 14px;
                                margin-left: 5px;
                            }
                        }
                        #description{
                            display: block;
                            width:50%;
                            height:80px;
                            float: left;
                            border: 1px solid #ccc;
                            color:#2d3436;
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                            padding: 5px;
                            resize: none;
                            outline: none;
                            font-family: $primary;
                            border-radius: 4px;
                            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                            &:focus{
                                border-color: #12adce;
                                box-shadow: 0 1px 0px rgba(0, 0, 0, 0.075) inset, 0 0 4px #12adce;
                                outline: 0 none;
                            }
                            &::placeholder{
                                color: #999;
                            }
                        }
                    }
                    .students{
                        display: inline-block;
                        width: 100%;
                        padding: 10px;
                        padding-bottom: 5px;
                        label{
                            display: block;
                            width: auto;
                            float: left;
                            font-family: $primary;
                            font-weight: normal;
                            font-size: 16px;
                            margin: 0;
                            margin-top: 2px;
                        }
                        .required{
                            position: relative;
                            top: -6px;
                            margin-left: 3px;
                            font-size: 10px;
                            color: #ee5253;
                            span{
                                font-size: 14px;
                                margin-left: 5px;
                            }
                        }
                        .attendance{
                            display: inline-block;
                            width: 100%;
                            padding: 5px;
                            .visit{
                                position: relative;
                                display: block;
                                height: auto;
                                min-height: 50px;
                                padding-bottom: 40px;
                                margin: 0 0.5%;
                                width: 49%;
                                float: left;
                                box-shadow: 0px 0px 2px 0px #999;
                                h3{
                                    font-family: $primary;
                                    font-weight: normal;
                                    font-size: 20px;
                                    margin: 0;
                                    margin-bottom: 5px;
                                    padding: 5px;
                                    border-bottom: 1px solid #c8d6e5;
                                    color: #2d3436;
                                    text-align: center;
                                }
                                .student{
                                    display: block;
                                    width: 90%;
                                    margin: 3px auto;
                                    background-color:#0984e3;
                                    border-radius: 3px;
                                    padding: 8px;
                                    cursor: pointer;
                                    h4{
                                        color: #FFF;
                                        text-align: left;
                                        font-family: $primary;
                                        margin: 0;
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .modal-footer{
                .my-btn{
                    position: relative;
                    font-family: $primary;
                    background-color: #FFF;
                    color: #2d3436;
                    font-size: 16px;
                    border: none;
                    transition: all 0.3s;
                    opacity: 0.9;
                    &:hover{
                        opacity: 1;
                        transition: all 0.3s;
            
                    }
                    &:active{
                        outline: none;
                        border: none;
                    }
                    &:focus{
                        outline: none;
                        border: none;
                    }
                }
                .modal_close{
                    color: #FFF;
                    background-color: #ee5253;
                    float:left;
                    &:hover{
                        background-color: #ef2d2e;
                    }
                }
                .add{
                    color: #FFF;
                    background-color: #0984e3;
                    float: right;
                    &:hover{
                        background-color: #006abc;
                    }
                }
            }
        }
    }
}
.right{
    z-index: 9999;
    .student_list{
        display: block;
        width: 99%;
        min-height: 100px;
        height: auto;
        margin: 0 auto;
        padding: 3px 0;
        margin-top: 15px;
        background-color: #FFF;
        border-radius: 3px;
        cursor: default;
        user-select: none;
        h3{
            margin: 0;
            padding: 0;
            padding-bottom: 5px;
            font-family: $primary;
            text-align: center;
            border-bottom: 2px solid #ccc;
        }
        .student{
            display: block;
            width: 80%;
            margin: 3px auto;
            background-color:#0984e3;
            border-radius: 3px;
            padding: 8px;
            opacity: 0.8;
            cursor: pointer;
            transition: all 0.3s;
            &:hover{
                opacity: 1;
                background-color: #006abc;
                transition: all 0.3s;
            }
            h4{
                color: #FFF;
                text-align: left;
                font-family: $primary;
                margin: 0;
                padding: 0;
            }
        }
    }
}