@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$primary:'Open Sans', sans-serif;

.left{
    .left-sidebar{
        .calendar_container{
            padding:10px;
            .calendar_title{
                display: block;
                text-align: center;
                font-size: 24px;
                font-family: $primary;
                color: #2d3436;
                cursor: default;
                margin: 0;
                padding: 0;
                margin-bottom: 10px;
                span{
                    position: relative;
                    top:-2px;
                    color: #dfe6e9;
                    transition: all 0.3s;
                    cursor: pointer;
                    font-size: 26px;
                    transition: all 0.3s;
                    &:hover{
                        color: #0984e3;
                        transition: all 0.3s;
                    }
                }
                #prev{
                    float: left;
                }
                #next{
                    float: right;
                }
            }
            #calendar{
                table-layout: fixed;
                margin: 0;
                tbody{
                    tr:nth-child(odd){
                        background-color: #dfe6e9;
                    }
                    #header{ 
                        th{
                            text-align: center;
                            font-weight: 600;
                            font-family: $primary;
                            font-size: 16px;
                            border: none;
                        }
                    }
                    .weeks{
                        td{
                            text-align: center;
                            border: none;
                            font-family: $primary;
                            margin:0;
                            padding: 0;
                            .today{
                                background-color: #0984e3;
                                color: #dfe6e9;
                                border-radius: 3px;
                            }
                            a{
                                display: block;
                                text-decoration: none;
                                color: #2d3436;
                                padding: 10px 0;
                                transition: all 0.3s;
                                &:hover{
                                    background-color: #0984e3;
                                    color: #dfe6e9;
                                    border-radius: 3px;
                                    transition: all 0.3s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.main{
    .visit_title{
        font-family: $primary;
        color: #2d3436;
        text-align: center;
    }
}