@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.left .left-sidebar .calendar_container {
  padding: 10px;
}

.left .left-sidebar .calendar_container .calendar_title {
  display: block;
  text-align: center;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #2d3436;
  cursor: default;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.left .left-sidebar .calendar_container .calendar_title span {
  position: relative;
  top: -2px;
  color: #dfe6e9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 26px;
  transition: all 0.3s;
}

.left .left-sidebar .calendar_container .calendar_title span:hover {
  color: #0984e3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.left .left-sidebar .calendar_container .calendar_title #prev {
  float: left;
}

.left .left-sidebar .calendar_container .calendar_title #next {
  float: right;
}

.left .left-sidebar .calendar_container #calendar {
  table-layout: fixed;
  margin: 0;
}

.left .left-sidebar .calendar_container #calendar tbody tr:nth-child(odd) {
  background-color: #dfe6e9;
}

.left .left-sidebar .calendar_container #calendar tbody #header th {
  text-align: center;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border: none;
}

.left .left-sidebar .calendar_container #calendar tbody .weeks td {
  text-align: center;
  border: none;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.left .left-sidebar .calendar_container #calendar tbody .weeks td .today {
  background-color: #0984e3;
  color: #dfe6e9;
  border-radius: 3px;
}

.left .left-sidebar .calendar_container #calendar tbody .weeks td a {
  display: block;
  text-decoration: none;
  color: #2d3436;
  padding: 10px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.left .left-sidebar .calendar_container #calendar tbody .weeks td a:hover {
  background-color: #0984e3;
  color: #dfe6e9;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .visit_title {
  font-family: "Open Sans", sans-serif;
  color: #2d3436;
  text-align: center;
}

.main .lectures p {
  font-family: "Open Sans", sans-serif;
  color: #2d3436;
  text-align: left;
  font-size: 16px;
}

.main .add {
  position: relative;
  display: block;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  background-color: #FFF;
  color: #2d3436;
  -webkit-box-shadow: 0px 0px 1px 0px #2d3436;
          box-shadow: 0px 0px 1px 0px #2d3436;
  font-size: 16px;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .add:hover {
  background-color: #0984e3;
  color: #dfe6e9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .add:active {
  outline: none;
  border: none;
}

.main .add:focus {
  outline: none;
  border: none;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 5px;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .form-group {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #c8d6e5;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .form-group label {
  display: block;
  width: 30%;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  margin-top: 2px;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .form-group input {
  display: block;
  width: 50%;
  float: left;
  padding: 2px;
  padding-left: 5px;
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #2d3436;
  height: 30px;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .form-group input:focus {
  border-color: #12adce;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.075) inset, 0 0 4px #12adce;
          box-shadow: 0 1px 0px rgba(0, 0, 0, 0.075) inset, 0 0 4px #12adce;
  outline: 0 none;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .form-group .required {
  position: relative;
  top: -6px;
  margin-left: 3px;
  font-size: 10px;
  color: #ee5253;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .form-group .required span {
  font-size: 14px;
  margin-left: 5px;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .form-group #description {
  display: block;
  width: 50%;
  height: 80px;
  float: left;
  border: 1px solid #ccc;
  color: #2d3436;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 5px;
  resize: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .form-group #description:focus {
  border-color: #12adce;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.075) inset, 0 0 4px #12adce;
          box-shadow: 0 1px 0px rgba(0, 0, 0, 0.075) inset, 0 0 4px #12adce;
  outline: 0 none;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .form-group #description::-webkit-input-placeholder {
  color: #999;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .form-group #description:-ms-input-placeholder {
  color: #999;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .form-group #description::-ms-input-placeholder {
  color: #999;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .form-group #description::placeholder {
  color: #999;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .students {
  display: inline-block;
  width: 100%;
  padding: 10px;
  padding-bottom: 5px;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .students label {
  display: block;
  width: auto;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  margin-top: 2px;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .students .required {
  position: relative;
  top: -6px;
  margin-left: 3px;
  font-size: 10px;
  color: #ee5253;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .students .required span {
  font-size: 14px;
  margin-left: 5px;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .students .attendance {
  display: inline-block;
  width: 100%;
  padding: 5px;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .students .attendance .visit {
  position: relative;
  display: block;
  height: auto;
  min-height: 150px;
  margin: 0 0.5%;
  width: 49%;
  float: left;
  -webkit-box-shadow: 0px 0px 2px 0px #999;
          box-shadow: 0px 0px 2px 0px #999;
}

.modal .modal-dialog .modal-content .modal-body .lecture_form .students .attendance .visit h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid #c8d6e5;
  color: #2d3436;
  text-align: center;
}

.modal .modal-dialog .modal-content .modal-footer .my-btn {
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: #FFF;
  color: #2d3436;
  font-size: 16px;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.9;
}

.modal .modal-dialog .modal-content .modal-footer .my-btn:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal .modal-dialog .modal-content .modal-footer .my-btn:active {
  outline: none;
  border: none;
}

.modal .modal-dialog .modal-content .modal-footer .my-btn:focus {
  outline: none;
  border: none;
}

.modal .modal-dialog .modal-content .modal-footer .modal_close {
  color: #FFF;
  background-color: #ee5253;
  float: left;
}

.modal .modal-dialog .modal-content .modal-footer .modal_close:hover {
  background-color: #ef2d2e;
}

.modal .modal-dialog .modal-content .modal-footer .add {
  color: #FFF;
  background-color: #0984e3;
  float: right;
}

.modal .modal-dialog .modal-content .modal-footer .add:hover {
  background-color: #006abc;
}
/*# sourceMappingURL=style.css.map */