@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$primary:'Open Sans', sans-serif;

.left{
    .left-sidebar{
        .calendar_container{
            padding:10px;
            .calendar_title{
                display: block;
                text-align: center;
                font-size: 20px;
                font-family: $primary;
                color: #2d3436;
                cursor: default;
                margin: 0;
                padding: 0;
                margin-bottom: 10px;
                span{
                    position: relative;
                    top:-2px;
                    color: #dfe6e9;
                    transition: all 0.3s;
                    cursor: pointer;
                    font-size: 26px;
                    transition: all 0.3s;
                    &:hover{
                        color: #0984e3;
                        transition: all 0.3s;
                    }
                }
                #prev{
                    float: left;
                }
                #next{
                    float: right;
                }
            }
            #calendar{
                table-layout: fixed;
                margin: 0;
                tbody{
                    tr:nth-child(odd){
                        background-color: #dfe6e9;
                    }
                    #header{ 
                        th{
                            text-align: center;
                            font-weight: 600;
                            font-family: $primary;
                            font-size: 16px;
                            border: none;
                        }
                    }
                    .weeks{
                        td{
                            text-align: center;
                            border: none;
                            font-family: $primary;
                            margin:0;
                            padding: 0;
                            .today{
                                background-color: #0984e3;
                                color: #dfe6e9;
                                border-radius: 3px;
                            }
                            a{
                                display: block;
                                text-decoration: none;
                                color: #2d3436;
                                padding: 10px 0;
                                transition: all 0.3s;
                                &:hover{
                                    background-color: #0984e3;
                                    color: #dfe6e9;
                                    border-radius: 3px;
                                    transition: all 0.3s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.main{
    padding: 0;
    .sections{
        display: block;
        width: 100%;
        background-color: #f0f0f0;
        margin:5px 0px;
        ul{
            display: block;
            width: 100%;
            padding: 5px;
            margin: 0;
            li{
                display: inline-block;
                margin: 0 3px;
                padding: 0;
                a{
                    display: inline-block;
                    font-family: $primary;
                    text-decoration: none;
                    margin: 2px;
                    font-size: 18px;
                    color: #2d3436;
                    transition: all 0.3s;
                    &:hover{
                        transition: all 0.3s;
                        color: #0984e3;
                    }
                }
                .active{
                    color: #0984e3;
                    font-weight: bold;
                }
                span{
                    font-size: 18px;
                }
            }
        }
    }
    .lectures{
        position: relative;
        width: 95%;
        margin: 0 auto;
        padding: 5px;
        .lecture{
            display: block;
            background-color: #FFF;
            margin: 7px;
            box-shadow: 0px 0px 3px 1px #ccc;
            border-radius: 3px;
            padding: 3px;
            h3{
                width: 95%;
                margin: 0 auto;
                padding: 10px;
                text-align: left;
                font-family: $primary;
                color: #2d3436;
                border-bottom: 2px solid #2d3436;
                
            }
            .lecture_description{
                display: inline-block;
                width: 95%;
                left: 2.5%;
                padding: 5px;
                p{
                    text-indent: 10px;
                    text-align: left;
                    font-size: 16px;
                }
                .edit{
                    position: relative;
                    display: block;
                    width: 30%;
                    margin: 0;
                    float: right;
                    font-family: $primary;
                    color: #FFF !important;
                    background-color: #0984e3;
                    font-size: 16px;
                    padding: 5px;
                    border-radius: 3px;
                    text-align: center;
                    text-decoration: none;
                    border: none;
                    opacity: 0.9;
                    transition: all 0.3s;
                    &:hover{
                        background-color: #006abc;
                        opacity: 1;
                        transition: all 0.3s;
                    }
                    &:active{
                        outline: none;
                        border: none;
                    }
                    &:focus{
                        outline: none;
                        border: none;
                    }
                }
                span{
                    display: block;
                    text-align: right;
                    font-size: 20px;
                    color: #2d3436;
                    font-family: $primary;
                }
            }
            .lecture_attendance{
                width: 95%;
                margin: 0 auto;
                padding: 0;
                p{
                    font-family: $primary;
                    margin: 5px;
                    font-size: 16px;
                    text-align: center;
                }
                h4{
                    display: block;
                    font-family: $primary;
                    text-align: left;
                    padding: 10px;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    margin:0;
                    cursor: pointer;
                    transition: all 0.3s;
                    &:hover{
                        background-color: #2d3436;
                        color: #FFF;
                        transition: all 0.3s;
                    }
                    span{
                        top:-5px;
                        float: right;
                        font-size: 30px;
                    }
                }
                .attendance{
                    position: relative;
                    display: none;
                    width: 100%;
                    top:-1px;
                    background-color: #2d3436;
                    padding-bottom: 4px;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    .table{
                        thead{
                            tr{
                                th{
                                    text-align: center;
                                }
                            }
                        }
                        tr{
                            color: #FFF;
                            font-family: $primary;
                            font-size: 16px;
                            text-align: center;
                        }
                    }
                }
                .active{
                    background-color: #2d3436;
                    color: #FFF;
                }
            }
        }
        p{
            font-family: $primary;
            color: #2d3436;
            text-align: left;
            font-size: 16px;
        }
    }
    .add{
        position: relative;
        display: block;
        margin: 0 auto;
        font-family: $primary;
        color: #FFF !important;
        background-color: #0984e3;
        font-size: 16px;
        border: none;
        opacity: 0.9;
        transition: all 0.3s;
        &:hover{
            background-color: #006abc;
            opacity: 1;
            transition: all 0.3s;
        }
        &:active{
            outline: none;
            border: none;
        }
        &:focus{
            outline: none;
            border: none;
        }
    }
    .pages{
        background-color: #f0f0f0;
        margin: 5px 0;
        margin-top: 10px;
        .pagination{
            margin: 0;
            background-color: #f0f0f0;
            li{
                background: none;
                a{
                    background: none;
                    border: none;
                    color: #2d3436;
                    text-decoration: none;
                    font-family: $primary;
                    transition: all 0.3s;
                    &:hover{
                        background-color: #0984e3;
                        color: #FFF;
                        transition: all 0.3s;
                    }
                }
            }
            .active{
                span{
                    border: none;
                    background-color: #0984e3;
                }
            }
            .disabled{
                span{
                    background:none;
                    color: #333;
                    border: none;
                }
            }
        }
    }
    .students{
        display: inline-block;
        width: 100%;
        .student{
            display: block;
            width: 24%;
            margin: 0.5%;
            padding: 5px;
            float: left;
            box-shadow: 0px 0px 2px 0px #CCC;
            img{
                display: block;
                width: 100%;
                border-radius: 2px;
            }
            ul{
                display: block;
                margin: 0;
                padding: 0;
                li{
                    display: block;
                    margin: 5px 0px;
                    padding: 2px;
                    font-family: $primary;
                    text-align: justify;
                    border-bottom: 1px solid #CCC;
                    span{
                        display: block;
                        font-family: $primary;
                    }
                    
                }
            }
            .visit_profile{
                position: relative;
                display: block;
                width: 50%;
                margin: 0 auto;
                font-family: $primary;
                color: #FFF !important;
                background-color: #0984e3;
                font-size: 16px;
                padding: 5px;
                border-radius: 3px;
                text-align: center;
                text-decoration: none;
                border: none;
                opacity: 0.9;
                transition: all 0.3s;
                &:hover{
                    background-color: #006abc;
                    opacity: 1;
                    transition: all 0.3s;
                }
                &:active{
                    outline: none;
                    border: none;
                }
                &:focus{
                    outline: none;
                    border: none;
                }
            }
        }
    }
    .student{
        position: relative;
        top:50px;
        .student_image{
            display: block;
            width: 40%;
            margin: 0px auto;
            img{
                width: 100%;
            }
        }
        .student_info{
            width: 60%;
            padding: 5px;
            margin: 0 auto;
            ul{
                margin: 0;
                padding: 0;
                li{
                    display: block;
                    margin: 10px 0px;
                    padding: 0;
                    font-family: $primary;
                    font-size: 20px;
                    border-bottom: 2px solid #CCC;
                    span{
                        margin-left: 5px;
                        font-family: $primary;
                        float: right;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    h2{
        font-family: $primary;
        color: #2d3436;
        border-bottom: 2px solid #CCC;
        text-align: center;
        padding: 10px;
    }
    p{
        font-family: $primary;
        text-align: center;
        font-size: 16px;
    }
}
.modal{
    .modal-dialog{
        .modal-content{
            .modal-body{
                padding: 5px;
                .my-form{
                    .form-group{
                        display: inline-block;
                        width: 100%;
                        margin: 0;
                        padding: 10px;
                        margin-top: 10px;
                        border-bottom: 1px solid #c8d6e5;
                        label{
                            display: block;
                            width: 30%;
                            float: left;
                            font-family: $primary;
                            font-weight: normal;
                            font-size: 16px;
                            margin: 0;
                            margin-top: 2px;
                        }
                        input{
                            display: block;
                            width: 50%;
                            float: left;
                            padding:2px;
                            padding-left: 5px;
                            margin: 0;
                            font-size: 14px;
                            font-family: $primary;
                            color: #2d3436;
                            height: 30px;
                            &:focus{
                                border-color: #12adce;
                                box-shadow: 0 1px 0px rgba(0, 0, 0, 0.075) inset, 0 0 4px #12adce;
                                outline: 0 none;
                            }
                        }
                        .required{
                            position: relative;
                            top: -6px;
                            margin-left: 3px;
                            font-size: 10px;
                            color: #ee5253;
                            span{
                                font-size: 14px;
                                margin-left: 5px;
                            }
                        }
                        .optional{
                            position: relative;
                            top: -6px;
                            margin-left: 3px;
                            font-size: 10px;
                            color: #0984e3;
                            span{
                                font-size: 14px;
                                margin-left: 5px;
                            }
                        }
                        #description{
                            display: block;
                            width:50%;
                            height:80px;
                            float: left;
                            border: 1px solid #ccc;
                            color:#2d3436;
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                            padding: 5px;
                            resize: none;
                            outline: none;
                            font-family: $primary;
                            border-radius: 4px;
                            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                            &:focus{
                                border-color: #12adce;
                                box-shadow: 0 1px 0px rgba(0, 0, 0, 0.075) inset, 0 0 4px #12adce;
                                outline: 0 none;
                            }
                            &::placeholder{
                                color: #999;
                            }
                        }
                    }
                    .students{
                        display: inline-block;
                        width: 100%;
                        padding: 10px;
                        padding-bottom: 5px;
                        label{
                            display: block;
                            width: auto;
                            float: left;
                            font-family: $primary;
                            font-weight: normal;
                            font-size: 16px;
                            margin: 0;
                            margin-top: 2px;
                        }
                        .required{
                            position: relative;
                            top: -6px;
                            margin-left: 3px;
                            font-size: 10px;
                            color: #ee5253;
                            span{
                                font-size: 14px;
                                margin-left: 5px;
                            }
                        }
                        .optional{
                            position: relative;
                            top: -6px;
                            margin-left: 3px;
                            font-size: 10px;
                            color: #0984e3;
                            span{
                                font-size: 14px;
                                margin-left: 5px;
                            }
                        }
                        .attendance{
                            display: inline-block;
                            width: 100%;
                            padding: 5px;
                            .visit{
                                position: relative;
                                display: block;
                                height: auto;
                                min-height: 50px;
                                padding-bottom: 40px;
                                margin: 0 0.5%;
                                width: 49%;
                                float: left;
                                box-shadow: 0px 0px 2px 0px #999;
                                h3{
                                    font-family: $primary;
                                    font-weight: normal;
                                    font-size: 20px;
                                    margin: 0;
                                    margin-bottom: 5px;
                                    padding: 5px;
                                    border-bottom: 1px solid #c8d6e5;
                                    color: #2d3436;
                                    text-align: center;
                                }
                                .student{
                                    display: block;
                                    width: 95%;
                                    margin: 3px auto;
                                    background-color:#dfe6e9;
                                    border-radius: 3px;
                                    padding: 8px;
                                    opacity: 0.8;
                                    cursor: pointer;
                                    transition: all 0.3s;
                                    &:hover{
                                        opacity: 1;
                                        background-color: #2d3436;
                                        transition: all 0.3s;
                                        h4{
                                            color: #FFF;
                                        }
                                    }
                                    h4{
                                        color: #FFF;
                                        text-align: left;
                                        font-family: $primary;
                                        margin: 0;
                                        padding: 0;
                                        transition: all 0.3s;
                                        span{
                                            position: relative;
                                            top:-5px;
                                            float: right;
                                            font-size: 30px;
                                        }
                                    }
                                    .details{
                                        position: relative;
                                        display: none;
                                        width: 100%;
                                        margin-top: 15px;//Laggy if  < 15 why?
                                        margin-bottom: 2px;
                                        padding: 0;
                                        background-color: #FFF;
                                        padding: 5px 0px;
                                        border-radius: 3px;
                                        .image{
                                            display: block;
                                            width: 100px;
                                            margin: 0px auto;
                                            img{
                                                position: relative;
                                                display: block;
                                                width: 100%;
                                                border-radius: 3px;
                                            }
                                        }
                                        ul{
                                            position: relative;
                                            display: block;
                                            width: 95%;
                                            margin: 0 auto;
                                            margin-top: 3px;
                                            padding: 0;
                                            border-top: 2px solid #CCC;
                                            li{
                                                margin: 2px 0px;
                                                padding: 0;
                                                font-size: 15px;
                                                text-indent: 5px;
                                                font-family: $primary;
                                            }
                                        }
                                        a{
                                            position: relative;
                                            width: 50%;
                                            display: block;
                                            margin: 5px auto;
                                            font-family: $primary;
                                            background-color: #0984e3;
                                            color: #FFF;
                                            font-size: 16px;
                                            border: none;
                                            border-radius: 2px;
                                            box-shadow: 0px 0px 2px 0px #333;
                                            text-align: center;
                                            padding: 4px;
                                            text-decoration: none;
                                            transition: all 0.3s;
                                            opacity: 0.9;
                                            &:hover{
                                                opacity: 1;
                                                background-color: #006abc;
                                                transition: all 0.3s;
                                    
                                            }
                                            &:active{
                                                outline: none;
                                                border: none;
                                                background-color: #006abc;
                                            }
                                            &:focus{
                                                outline: none;
                                                border: none;
                                                color: #FFF;
                                            }      
                                        }
                                    }
                                }
                                .active{
                                    opacity: 1;
                                    background-color: #2d3436;
                                    h4{
                                        color: #FFF;
                                    }
                                }
                            }
                        }
                        .student_image{
                            display: block;
                            width: 40%;
                            margin:5px auto;
                            min-height: 200px;
                            border: 2px dashed #999;
                            border-radius: 5px;
                            img{
                                display: none;
                                width: 98%;
                                margin: 1%;
                                height: auto;
                            }
                        }
                        #upload_image{
                            display: block;
                            width: 100%;
                            p{
                                display: block;
                                width: 40%;
                                margin:0px auto;
                                padding: 5px;
                                font-family: $primary;
                                background-color: #0984e3;
                                color: #FFF;
                                font-size: 16px;
                                border: none;
                                text-align: center;
                                border-radius: 3px;
                                transition: all 0.3s;
                                opacity: 0.9;
                                float: none;
                                cursor: pointer;
                                &:hover{
                                    opacity: 1;
                                    background-color: #006abc;
                                    transition: all 0.3s;
                                }
                            }
                            span{
                                display: block;
                                width: 100%;
                                text-align: center;
                                font-family: $primary;
                                color: #2d3436;
                                margin: 10px 0;
                            }
                            .choose{
                                font-size: 18px;
                                font-weight: bold;
                            }
                        }
                        #file_upload{
                            display: none;
                        }
                    }
                }
            }
            .modal-footer{
                .my-btn{
                    position: relative;
                    font-family: $primary;
                    background-color: #FFF;
                    color: #2d3436;
                    font-size: 16px;
                    border: none;
                    transition: all 0.3s;
                    opacity: 0.9;
                    &:hover{
                        opacity: 1;
                        transition: all 0.3s;
            
                    }
                    &:active{
                        outline: none;
                        border: none;
                    }
                    &:focus{
                        outline: none;
                        border: none;
                    }
                }
                .modal_close{
                    color: #FFF;
                    background-color: #ee5253;
                    float:left;
                    &:hover{
                        background-color: #ef2d2e;
                    }
                }
                .add{
                    color: #FFF;
                    background-color: #0984e3;
                    float: right;
                    &:hover{
                        background-color: #006abc;
                    }
                }
                .notification{
                    position: relative;
                    top:5px;
                    display: none;
                    clear: both;
                    width:60%;
                    margin:0 auto;
                    font-size: 14px;
                    background-color:#FFF;
                    box-shadow: 0px 0px 2px 0px #000;
                    border: none;
                    color:#000;
                    font-family: $primary;
                    .close{
                        position: absolute;
                        right:0px;
                        top:0px;
                        margin:2px;
                        font-size:20px;
                        color: #c60000;
                        opacity: 0.8;
                        cursor: pointer;
                        transition: all 0.3s;
                        &:hover{
                            opacity: 1;
                            transition: all 0.3s;
                        }
                    }
                    ul{
                        margin: 0;
                        padding: 3px;
                        li{
                            margin: 0;
                            padding: 0;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}
.right{
    background-color: #FFF;
    padding-bottom: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 9998;
    .student_list{
        display: block;
        width: 99%;
        min-height: 50px;
        height: auto;
        margin: 0 auto;
        padding: 3px 0;
        margin-top: 15px;
        background-color: #FFF;
        border-radius: 3px;
        cursor: default;
        user-select: none;
        h3{
            margin: 0;
            padding: 0;
            padding-bottom: 5px;
            font-family: $primary;
            text-align: center;
        }
        .student{
            display: block;
            width: 90%;
            margin: 3px auto;
            background-color:#dfe6e9;
            border-radius: 3px;
            padding: 8px;
            opacity: 0.8;
            cursor: pointer;
            transition: all 0.3s;
            &:hover{
                opacity: 1 !important;
                background-color: #2d3436 !important;
                transition: all 0.3s;
                h4{
                    color: #FFF;
                }
            }
            h4{
                color: #2d3436;
                text-align: left;
                font-family: $primary;
                margin: 0;
                padding: 0;
                transition: all 0.3s;
                span{
                    position: relative;
                    top:-5px;
                    float: right;
                    font-size: 30px;
                }
            }
            .details{
                position: relative;
                display: none;
                width: 100%;
                margin-top: 15px;//Laggy if  < 15 why?
                margin-bottom: 2px;
                padding: 0;
                background-color: #FFF;
                padding: 5px 0px;
                border-radius: 3px;
                .image{
                    display: block;
                    width: 100px;
                    margin: 0px auto;
                    img{
                        position: relative;
                        display: block;
                        width: 100%;
                        border-radius: 3px;
                    }
                }
                ul{
                    position: relative;
                    display: block;
                    width: 95%;
                    margin: 0 auto;
                    margin-top: 3px;
                    padding: 0;
                    border-top: 2px solid #CCC;
                    li{
                        margin: 2px 0px;
                        padding: 0;
                        font-size: 15px;
                        text-indent: 5px;
                        font-family: $primary;
                    }
                }
                a{
                    position: relative;
                    width: 50%;
                    display: block;
                    margin: 5px auto;
                    font-family: $primary;
                    background-color: #0984e3;
                    color: #FFF;
                    font-size: 16px;
                    border: none;
                    border-radius: 2px;
                    box-shadow: 0px 0px 2px 0px #333;
                    text-align: center;
                    padding: 4px;
                    text-decoration: none;
                    transition: all 0.3s;
                    opacity: 0.9;
                    &:hover{
                        opacity: 1;
                        background-color: #006abc;
                        transition: all 0.3s;
            
                    }
                    &:active{
                        outline: none;
                        border: none;
                        background-color: #006abc;
                    }
                    &:focus{
                        outline: none;
                        border: none;
                        color: #FFF;
                    }      
                }
            }
        }
        .active{
            opacity: 1 !important;
            background-color: #2d3436 !important;
            h4{
                color: #FFF;
            }
        }
        p{
            font-family: $primary;
            text-align: center;
            color: #2d3436;
            font-size: 14px;
        }
    }
    .add_student{
        position: relative;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        font-family: $primary;
        background-color: #0984e3;
        color: #FFF;
        font-size: 16px;
        border: none;
        transition: all 0.3s;
        opacity: 0.9;
        &:hover{
            opacity: 1;
            background-color: #006abc;
            transition: all 0.3s;

        }
        &:active{
            outline: none;
            border: none;
            background-color: #006abc;
        }
        &:focus{
            outline: none;
            border: none;
            color: #FFF;
        }            
    }
}
.navbar{
    display: block;
    width: 80%;
    margin: 0px auto;
    border-radius: 0px;
    padding: 0;
    ul{
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        border-bottom: 2px solid #CCC;
        li{
            display: inline-block;
            margin: 0;
            padding: 0;
            a{
                display: block;
                margin:4px;
                margin-bottom: 0;
                padding: 10px; 
                font-size: 16px;
                text-align: center;
                text-decoration: none;
                font-family: $primary;
                color: #2d3436;
                transition: all 0.3s;
                &:hover{
                    background-color: #0984e3;
                    color: #FFF;
                    transition: all 0.3s;
                }
            }
            .active{
                background-color: #0984e3;
                color: #FFF;
            }
        }
    }
}